:root {
	--text-color: #ffffff;
	--bg-color: #2b2b2b;
	--bg-color-home: #000000;

	--primary-color: #05f2db;
	--primary-color-light: #4ff0e0;
	--primary-color-dark: #019c8d;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--text-color)
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(8px);
	display: flex;
	justify-content: flex-end;
	gap: 40px;
	padding: 1rem 2rem;
	z-index: 10;
}

nav a {
	/* margin-left: 2rem; */
	color: var(--primary-color);
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
}

nav a:hover,
nav a:active {
	color: #ffffff;
}

nav .threeline-icon {
	display: none;
}

nav .threeline-icon:hover {
	cursor: pointer;
}

@media (max-width: 1000px) {
	nav a {
		display: none;
	}

	nav a.threeline-icon {
		display: inline-block;
	}
}

.menujs {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.menujs a {
	width: 100%;
	display: block;
	border-bottom: 1px solid #969393;
	width: 100%;
	padding: 0;
	text-align: center;
	animation-name: menuSmall;
	animation-duration: 2s;
}

@keyframes menuSmall {
	0% {
		opacity: 0;
		transform: translate(0px, -200px);
	}

	100% {
		opacity: 1;
		transform: translate(0px, 0px)
	}
}

.mainAnimeOff {
	animation-name: capaVoltar;
	animation-duration: 2s;
}

@keyframes capaVoltar {
	0% {
		transform: translate(0px, 0px);
	}

	100% {
		transform: translate(0px, -120px);
	}
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	animation: fadeIn 1s ease-in-out;
}

@media (max-width: 1000px) {
	header {
		margin-top: 6rem;
	}
}

.main {
	padding: 80px 180px 90px 100px;
	animation-name: conteudo;
	animation-duration: 2s;
}

.main h1 {
	color: var(--primary-color);
	font-weight: normal;
}

.main h2 {
	color: var(--primary-color);
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 40px;
}

.main h3 {
	color: var(--primary-color);
	font-size: 12px;
	text-transform: uppercase;
}

.main p {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 100;
	line-height: 24px;
	text-align: justify;
}

@media (max-width: 1000px) {
	.main {
		padding: 10px 5% 40px 5%;
		overflow-wrap: break-word;
		word-wrap: break-word;
		padding-top: 50px;
	}

	.main p {
		text-align: left;
		line-height: 30px;
	}
}

.caminho {
	list-style: none;
	padding-left: 0;
	color: gray;
}

.caminho li {
	display: inline-block;
}

.caminho a {
	color: gray;
}


@media (max-width: 1000px) {
	.caminho li {
		font-size: 12px;
	}
}

.back-link {
	color: var(--primary-color);
}

.foto-trabalhos {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.bottom-to-top {
	animation: BottomToTop 1s ease-out forwards;
}

.top-to-bottom {
	animation: TopToBottom 1s ease-out forwards;
}

.body-home {
  background-color: var(--bg-color-home) !important;
  color: var(--text-color) !important;
  overflow: hidden !important;
  padding: 0 20px;
}

#code-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.code-snippet {
  position: absolute;
  color: var(--primary-color-dark);
  font-family: monospace;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  animation: appear 6s linear infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes RightToLeft {
	from {
		transform: translateX(100px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes BottomToTop {
	from {
		transform: translateY(100px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes TopToBottom {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes bgTransition {
	50% {
		background-color: var(--bg-color-home);
	}

	100% {
		background-color: var(--bg-color);
	}
}