html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2b2b2b;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.navigation {
	background-color: #2b2b2b;
	color: white;
	height: 50px;
	/* margin-top: 0; */
}

.navigation ul {
	margin-top: 0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 50px;
	animation-name: navbar;
	animation-duration: 4s;
}

.navigation li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 100;
}

.navigation a {
	color: white;
	text-decoration: none;
}

.navigation a:hover {
	color: #006ef4;
}

.navigation li.threeline-icon {
	display: none;
}

.navigation li.threeline-icon:hover {
	/* color: #006ef4; */
	cursor: pointer;
}

.capa {
	color: white;
	vertical-align: top;
	padding-bottom: 20px;
}

.capa span {
	color: #006ef4;
	display: block;
}

.capa div {
	display: inline-block;
	height: 650px;
}

.profile-pic {
	width: 40%;
	text-align: center;
	animation-name: profile-capa;
	animation-duration: 2s;
}

.profile-pic img {
	width: 350px;
	border-radius: 350px;
	margin-top: 110px;
}

.profile-title {
	vertical-align: top;
	width: 59%;
	animation-name: profile-title;
	animation-duration: 2s;
}

.profile-title h1 {
	text-transform: uppercase;
	font-size: 58px;
	margin-top: 220px;
	font-weight: 400;
	line-height: 63px;
}

.profile-title h2 {
	font-size: 18px;
	font-weight: 100;
	margin-top: -15px;
	display: inline-block;
}

.profile-title img {
	width: 30px;
}

.back-link {
	color: #006ef4;
}

/*********************** Curriculo ********************/

.main {
	padding: 80px 180px 90px 100px;
	animation-name: conteudo;
	animation-duration: 2s;
}

.main h1 {
	color: white;
	font-weight: normal;
}

.main h2 {
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 40px;
}

.main h3 {
	color: #006ef4;
	font-size: 12px;
	text-transform: uppercase;
}

.main p {
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 24px;
	text-align: justify;
}

.main img {}

.caminho {}

.caminho {
	list-style: none;
	padding-left: 0;
	color: gray;
}

.caminho li {
	display: inline-block;
}

.caminho a {
	color: gray;
}

.profile-img {
	float: left;
	width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
}

/*************************************************************** FLOAT ************************************/

.fab {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.fab button {
	cursor: pointer;
	width: 48px;
	height: 48px;
	border-radius: 30px;
	background-color: #cb60b3;
	border: none;
	box-shadow: 0 1px 5px rgb(121, 121, 121);
	font-size: 24px;
	color: white;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	transition: .2s ease-out;
}

.fab button:focus {
	outline: none;
}

.fab button.mainn {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #006ef4;
	right: 0;
	bottom: 0;
	z-index: 20;
}

.fab label {
	margin-right: 70px;
    white-space: nowrap;
    display: block;
    margin-top: -44px;
    padding: 5px 8px;
	background-color: #2b2b2b;
	color: #006ef4;
    box-shadow: 0 1px 3px rgb(121, 121, 121);
    border-radius: 3px;
    height: 18px;
    font-size: 16px;
    pointer-events: none;
    opacity: 1;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab button.mainn:active, .fab button.mainn:focus {
	outline: none;
	background-color: #7716ff;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

/* .fab button.mainn:active + ul,
  .fab button.mainn:focus + ul{
	bottom: 70px;
  }
  
  .fab button.mainn:active + ul li,
  .fab button.mainn:focus + ul li{
	margin-bottom: 10px;
	opacity: 1;
  }
  
  .fab button.mainn:active + ul li:hover label,
  .fab button.mainn:focus + ul li:hover label{
	opacity: 1;
  } */

/*******************************************************************************************************/

/*****************Contato***************/

.social-img {
	width: 50px;
	margin-right: 10px;
}

/**************** PORTFOLIO ***************/

.miniatura {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	background-size: contain;
	overflow: hidden;
}

.miniatura a {
	text-decoration: none;
}

.blackbox {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: 1s;
}

.blackbox:hover {
	opacity: 0.8;
	transition: 1s;
}

.blackbox {
	text-align: center;
}

.blackbox-text h1 {
	font-size: 16px;
	font-weight: 400;
	color: #006ef4;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 140px;
}

.blackbox-text h2 {
	text-transform: none;
	font-weight: 100;
	margin-top: 0;
}

/********************trabalhos*******************/

.foto-trabalhos {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

@keyframes profile-capa {
	0% {
		opacity: 0;
		transform: translate(0px, 20px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px)
	}
}

@keyframes profile-title {
	0% {
		opacity: 0;
		transform: translate(0px, -20px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px)
	}
}

@keyframes navbar {
	0% {
		opacity: 0
	}
	50% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes conteudo {
	0% {
		opacity: 0;
		transform: translate(-20px, 0px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px)
	}
}

@keyframes menuSmall {
	0% {
		opacity: 0;
		transform: translate(0px, -200px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px)
	}
	;
}

@keyframes capaSmall {
	0% {
		transform: translate(0px, -200px);
	}
	100% {
		transform: translate(0px, 0px)
	}
	;
}

@keyframes capaVoltar {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, -200px)
	}
	;
}

@media (max-width: 1000px) {
	.navigation li {
		display: none;
	}
	.navigation li.threeline-icon {
		display: inline-block;
	}
	.capa div {
		display: block;
		height: auto;
	}
	.profile-pic {
		width: 100%;
		/*background: yellow;*/
	}
	.profile-pic img {
		max-width: 75%;
		margin-top: 0;
		max-width: 80%;
	}
	.profile-title {
		text-align: center;
		width: 100%;
		/*background: green;*/
	}
	.profile-title h1 {
		margin-top: 20px;
		font-size: 36px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.capa span {
		margin-top: -3px;
		line-height: 130%;
	}
	.profile-title h2 {
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.main {
		padding: 10px 5% 40px 5%;
		overflow-wrap: break-word;
		word-wrap: break-word;
	}
	.main p {
		text-align: left;
		line-height: 30px;
	}
	.caminho li {
		font-size: 12px;
	}
	.profile-img {
		float: none;
		max-width: 100%;
		margin-right: 0px;
		/* margin-left: 0px; */
	}
	.miniatura {
		max-width: 100%;
		background-size: auto 100%;
	}
	.blackbox {
		opacity: 0.8;
	}
	.menujs {
		height: auto;
	}
	.menujs ul {
		height: auto;
		text-align: center;
		padding-right: 15%;
		padding-left: 15%;
	}
	.menujs li {
		display: block;
		border-bottom: 1px solid gray;
		width: 100%;
		padding: 0;
		animation-name: menuSmall;
		animation-duration: 2s;
	}
	.mainAnimeOn {
		animation-name: capaSmall;
		animation-duration: 2s;
	}
	.capaVoltar {
		animation-name: capaVoltar;
		animation-duration: 2s;
	}
}

@media (max-width: 500px) {
	.profile-pic {
		width: 100%;
		/*background: yellow;*/
	}
	.profile-pic img {
		max-width: 60%;
		margin-top: 0;
	}
	.profile-title {
		text-align: center;
		width: 100%;
		/*background: green;*/
	}
	.profile-title h1 {
		margin-top: 10px;
		font-size: 30px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.capa span {
		margin-top: -3px;
		line-height: 130%;
	}
	.profile-title h2 {
		margin-top: 3px;
		margin-left: 20px;
		margin-right: 20px;
	}
}